[Unit]
Description=Node Exporter (Salt Managed)
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/usr/local/bin/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
